[Unit]
Description=1090 logger
After=network.target time-sync.target

[Service]
ExecStart=/usr/local/bin/1090-logger
Type=simple
RestartSec=5
Restart=on-failure
User=nobody
Group=nogroup
StandardOutput=null
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target

